.blog-form {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
}

.editor-class {
  img {
    height: 300px !important;
    width: 80% !important;
  }
}

.blog-post {
  img {
    height: 300px !important;
    width: 100% !important;
  }
}

.categories {
  display: flex;

  .category-button {
    height: 40px;
    width: 140px;
    margin: 7px 0;
    margin-right: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.603);
    border: 3px solid rgb(136, 240, 136);
    border-radius: 5%;

    &:hover {
      border-color: rgb(36, 204, 13);
      color: rgba(0, 0, 0, 0.801);
      transition: 0.1s ease-in;
    }

    &.active {
      color: rgba(0, 0, 0, 0.795);
      background: rgba(11, 175, 93, 0.897);
      border-color: rgba(49, 49, 49, 0.856);
    }
  }
}

.image-form-group {
  .image-wrapper {
    display: flex;
  }

  label {
    margin-bottom: 20px;
  }

  img {
    height: 220px;
    width: 240px;
    margin-top: 15px;
  }
}
