@use "./master" as global;

.container-fluid {
  padding: 0 !important;
}

h1,
h2 {
  text-align: center;
}

label {
  font-weight: bold;
}

.form-group {
  margin: 25px 0;
}

.row-group {
  margin: 25px 0;

  label {
    width: 15%;
    text-align: left;
    font-size: 18px;
    margin-right: 10px;
  }

  input,
  textarea {
    width: 100%;
    max-width: 650px;
  }
}

.button-group {
  button {
    margin: 15px 0;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.modal-header {
  padding: 5px !important;

  button {
    margin-right: 0;
    margin-left: auto;
    color: global.$success-color;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
  }
}

@media only screen and (max-width: 800px) {
  .row-group {
    margin: 15px 0;

    input,
    textarea {
      width: 100%;
    }
  }

  .image-form-group {
    display: block;

    img {
      height: 180px;
      width: 210px;
    }
  }
}
